:root {
    --black: #111;
    --violet: #1E1823;
    --gray: #4C4C4C;
    --orange: #FD9222;
    --beige: #FCF1E0;
    --light: #FAFAFA;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    text-decoration: none;
}

img {
    display: block;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1168px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* Header */
.section-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container-header {
    display: flex;
}

.logo-img-header {
    margin-left: 4px;
}

.link-logo {
    display: flex;
}

.nav-list {
    display: flex;
    column-gap: 24px;
}

.social-list {
    display: flex;
    column-gap: 16px;
    margin-left: 90px;
}

.link-social-item {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 250ms ease-in-out, fill 250ms ease-in-out;
}

.link-social-item:hover,
.link-social-item:focus {
    border: 1px solid rgba(253, 146, 34, 0.10);
    fill: #FD9222;
}


/* hero */

.section-hero {
    border-radius: 30px;
    background-image: linear-gradient(rgba(17, 17, 17, 0.40), rgba(17, 17, 17, 0.40)), url(../images/section-hero/chocolate_main.jpg);
    background-size: cover;
}

.container-button {
    display: flex;
}

.title-hero-container {
    display: flex;
    flex-direction: column;
    padding: 384px 40px 40px 40px;

}

.title-hero {
    color: #FFF;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
    width: 484px;
    margin-bottom: 32px;
}

.button-hero {
    display: flex;
    padding: 14px 40px;
    border-radius: 100px;
    background: #FD9222;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.button-hero:focus,
.button-hero:hover {
    background-color: var(--beige, #FCF1E0);
    color: var(--orange);
}

.link-hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 896px;
}

.title-link {
    display: flex;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #FFF;
    margin-left: 4px;
    transition: border 250ms ease-in-out, color 250ms ease-in-out;
}

.title-link:hover,
.title-link:focus {
    color: var(--orange);
    border: 1px solid var(--orange);
}

.scroll-link {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 250ms ease-in-out;
}

.scroll-down {
    display: flex;
    margin-left: 14px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
}

.container-scroll {
    padding: 5px 17px 10px 17px;
    border-radius: 10px;
    background: #1E1823;
    transition: background 250ms ease-in-out;
}

.scroll-down-fill {
    fill: #FD9222;
}

.container-scroll:hover .scroll-link,
.container-scroll:focus .scroll-link {
    color: #FD9222;
}

.container-scroll:hover,
.container-scroll:focus {
    background: none;
}

.container-scroll:hover .scroll-link .scroll-down,
.container-scroll:focus .scroll-link .scroll-down {
    background-color: #FD9222;
}

.container-scroll:hover .scroll-link .scroll-down .scroll-down-fill,
.container-scroll:focus .scroll-link .scroll-down .scroll-down-fill {
    fill: #ffff;
}

/* Hero Section */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Sectoin Advantages */

.sectoin-advantages {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 120px;
    background: var(--violet, #1E1823);
    padding: 50px;
}

.container-advantages {
    display: flex;
}

.title-advantages {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 18px;
    padding-top: 19px;
}

.description-advantages {
    color: rgba(255, 255, 255, 0.70);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
    width: 308px;
}

.icon-advantages {
    width: 60px;
    height: 60px;
    fill: var(--orange);
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    align-items: center;
    display: flex;
    justify-content: center;
}

.list-adventages {
    display: flex;
    align-items: center;
}

.line {
    width: 1px;
    height: 124px;
    background: rgba(255, 255, 255, 0.50);
}

.container-description-advantages {
    padding-right: 44px;
}

.container-description-advantages-group {
    padding-right: 44px;
    padding-left: 44px;
}

.title-advantages-productions {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
    padding-bottom: 18px;
    padding-top: 22px;
}

.list-adventages-spoon {
    padding-left: 44px;
}

/* Sectoin Advantages */

/* ------------------ */

/* Section ingridient */

.title-ingridient {
    padding-bottom: 50px;
    margin: 0 auto;
    width: 412px;
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.title-ingridient-span {
    color: #FD9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.container-ingridient {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
}

.list-ingridient {
    padding: 28px 23px;
    border-radius: 15px;
    background: #FD9222;
    width: calc((100% - 96px) / 4);
}

.icon-ingridient {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.title-list-ingridient {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
    text-transform: uppercase;
}

.list-ingridient:nth-child(2n) {
    background: #fff;
    border-radius: 15px;
    border: 1px solid #FD9222;

}

.list-ingridient:nth-child(4n+3) {
    background: #1E1823;
}

.list-ingridient:nth-child(2n) p {
    color: #111;
}

/* Section ingridient */

/* Section How it’s made? */

.container-how-made {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.title-how-made {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.title-how-made-diff {
    color: #FD9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.container-description-made {
    display: flex;
    column-gap: 20px;
    padding-top: 50px;
}

.list-how-made {
    list-style-type: disc;
    width: 452px;

}

.picture-how-made {
    object-fit: cover;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(17, 17, 17, 0.40) 0%, rgba(17, 17, 17, 0.40) 100%)
}

.container-praparation {
    padding: 32px;
    border-radius: 15px;
    background: #FFF;
}

.preparation {
    width: 350px;
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    /* 133.333% */
    padding-bottom: 28px;
}

.description-list-how-made {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
    padding-bottom: 24px;
}

.list-how-made-preparation:last-child p {
    padding-bottom: 0px;
}

/* Section How it’s made? */


/* Our products */


/* Our products */

.container-our-products {
    margin-top: 120px;
}

.title-list-our-product-main {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.title-list-our-product-main-diff {
    color: #FD9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.list-product {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 24px;
}

.list-product-icon {
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 54px) / 4);
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
}

.title-list-our-product {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 2px;
    text-align: center;
}

.title-list-our-product-description {
    color: rgba(17, 17, 17, 0.70);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.02em;
    text-align: center;
    padding-bottom: 18px;
}

.title-list-our-product-price {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    padding: 8px 20px;
    display: flex;
}

/* Our products */


/* Our products */

/* Top sellers */

.container-sellers {
    margin-top: 120px;
    margin-bottom: 120px;
}

.list-sellers {
    display: flex;
    column-gap: 16px;
}

.title-sellers {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 28px;
}

.title-sellers-main {
    color: #111;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
}

.title-sellers-main-diff {
    color: #FD9222;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.picture-top-sallers {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.element-sallers {
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid rgba(17, 17, 17, 0.10);
    border-bottom: 1px solid rgba(17, 17, 17, 0.10);
    border-left: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
}

.container-overlay {
    position: relative;
    overflow: hidden;
}

.description-overlay {
    color: var(--light, #FAFAFA);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    backdrop-filter: blur(2px);
    padding: 178px 40px 40px 40px;
    overflow: auto;
    transition: transform 250ms ease-in-out, backdrop-filter 250ms ease-in-out;
}

.element-sallers:hover .description-overlay,
.element-sallers:focus .description-overlay {
    transform: translateY(0);
    backdrop-filter: blur(7.5px);
}


/* Top sellers */

/* Section "Reviews" */



/* Section "Reviews" */

.container-rewiew {
    display: flex;
    flex-direction: column;
}

.title-rewiew-main {
    color: #111;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 90px;
}

.title-rewiew-main-diff {
    color: #FD9222;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.list-rewiew {
    display: flex;
    padding-bottom: 50px;
    column-gap: 24px;

}

.title-person-rewiew {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    /* 133.333% */
    padding-top: 56px;

}

.description-person-rewiew {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
    padding: 24px;
}

.list-rewiew-item {
    width: calc((100% - 84px) / 3);
    position: relative;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    box-shadow: 0px 9.04932px 100px 0px rgba(17, 17, 17, 0.03);
}

.person-picture {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -40px);
}

.button-rewiew {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid #FD9222;
    padding: 14px 40px;
    margin-left: auto;
    margin-right: auto;
}

/* Section "Reviews" */

/* Section "Reviews" */

/* Section Footer */

.container-footer {
    width: 1200px;
    height: 298px;
    background: #1E1823;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

/* Section Footer */