.title-ingridient {
    padding-bottom: 50px;
    margin: 0 auto;
    width: 412px;
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.title-ingridient-span {
    color: #FD9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.container-ingridient {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
}

.list-ingridient {
    padding: 28px 23px;
    border-radius: 15px;
    background: #FD9222;
    width: calc((100% - 96px) / 4);
}

.icon-ingridient {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.title-list-ingridient {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
    text-transform: uppercase;
}

.list-ingridient:nth-child(2n) {
    background: #fff;
    border-radius: 15px;
    border: 1px solid #FD9222;

}

.list-ingridient:nth-child(4n+3) {
    background: #1E1823;
}

.list-ingridient:nth-child(2n) p {
    color: #111;
}